@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --primary: oklch(0.205 0 0);

  --cta: #2c2c2c;
  --cta-gold: #fccc41;
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-cta: var(--cta);
  --color-cta-gold: var(--cta-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-bricolage);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply bg-background mx-auto flex h-full flex-col gap-8;
  }
  h1 {
    @apply text-3xl font-bold;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  /* Navbar Components */
  .navbar {
    @apply mx-auto flex w-full items-center justify-between bg-black px-8 py-4 max-sm:px-4;
  }

  .navbar-logo {
    @apply flex cursor-pointer items-center gap-2.5 transition-all duration-200 hover:scale-110 hover:opacity-80;
  }

  /* Search Components */
  .search {
    @apply flex w-1/2 items-center justify-center gap-8;
  }

  .search-input-wrapper {
    @apply relative flex h-10 flex-grow items-center rounded-md border border-transparent bg-zinc-700 transition-colors duration-200 hover:border-zinc-500;
  }

  .search-icon {
    @apply pointer-events-none absolute top-1/2 left-3 z-10 h-4 w-4 -translate-y-1/2 transform text-zinc-400 group-hover:text-zinc-300;
  }

  .search-clear-icon {
    @apply absolute top-1/2 right-3 z-10 h-4 w-4 -translate-y-1/2 transform cursor-pointer text-zinc-400 hover:text-zinc-200;
  }

  .search-dropdown {
    @apply absolute top-full right-0 left-0 z-50 mt-1.5 max-h-[calc(100vh-10rem)] overflow-y-auto rounded-md bg-zinc-800 shadow-lg;
  }

  .search-inactive {
    @apply w-auto transition-all duration-300 ease-in-out;
  }

  .search-active {
    @apply w-full transition-all duration-300 ease-in-out;
  }

  .login {
    @apply flex items-center justify-end gap-4;
  }

  /* TrendingGames Components */
  .game-card {
    @apply relative flex h-full w-full items-center justify-center overflow-hidden rounded-lg bg-zinc-800 transition-all duration-300 hover:bg-zinc-700 hover:shadow-lg;
  }

  /* Carousel Components */
  .pagination-dot {
    @apply h-2 w-2 rounded-full transition-all;
  }

  .pagination-dot-active {
    @apply scale-125 bg-white;
  }

  .pagination-dot-inactive {
    @apply bg-zinc-500;
  }

  /* Common Utility Classes */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .game-card-base {
    @apply overflow-hidden border-zinc-700 bg-zinc-800;
  }

  .carousel-nav-button-base {
    @apply absolute top-1/2 z-10 hidden h-10 w-10 -translate-y-1/2 text-white sm:flex;
  }

  /* RankGameCard specific utilities */
  .rank-card-comment-container {
    @apply ml-auto hidden max-w-[200px] min-w-[150px] flex-shrink-0 items-start gap-2 pr-2 pl-4 text-sm text-zinc-400 italic md:flex;
  }
}
